body {
    height: 100%;
    background-color: #f3f4f6; /* Light gray background color */
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  .card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
  }
  
  .lock-icon {
    font-size: 50px;
    color: #333;
  }
  
  .passInput {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Sticky Footer CSS */
  html,
  body {
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  /* CSS for Navbar */
  nav {
    background-color: #ffffff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure navbar stays on top */
  }
  
  nav .flex {
    justify-content: space-between;
    align-items: center;
    height: 4rem; /* Adjust height as needed */
  }
  
  nav .text-black {
    color: #000000; /* Black text color */
  }
  
  nav .text-black:hover {
    color: #4b5563; /* Darker hover color */
  }
  
  /* CSS for Footer */
  footer {
    background-color: #1f2937; /* Dark background color */
    color: #ffffff; /* White text color */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #ffffff; /* White text color for links */
  }
  
  footer a:hover {
    color: #d1d5db; /* Lighter hover color */
  }
  